.tLogoSmall {
    width: 19px;
    height: 24px;
    float: left;
    margin-right: 10px;
    display: block;
    background-position: 0 0;
    background-image: url("sprites/tLogoSmall.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .tLogoSmall {
        background-image: url("sprites/tLogoSmall@x2.png");
        background-size: 19px 3535px
    }
}

.tLogoSmall.AND {
    background-position: 0 -29px
}

.tLogoSmall.ARG, .tLogoSmall.Argentina, .tLogoSmall.Argentine {
    background-position: 0 -58px
}

.tLogoSmall.ARM {
    background-position: 0 -87px
}

.tLogoSmall.ASA, .tLogoSmall.American.Samoa {
    background-position: 0 -116px
}

.tLogoSmall.AUS, .tLogoSmall.Australia, .tLogoSmall.Australie {
    background-position: 0 -145px
}

.tLogoSmall.AUT {
    background-position: 0 -174px
}

.tLogoSmall.AZE {
    background-position: 0 -203px
}

.tLogoSmall.BEL {
    background-position: 0 -232px
}

.tLogoSmall.BER {
    background-position: 0 -261px
}

.tLogoSmall.BHS {
    background-position: 0 -290px
}

.tLogoSmall.BIH {
    background-position: 0 -319px
}

.tLogoSmall.BRB {
    background-position: 0 -348px
}

.tLogoSmall.BRU {
    background-position: 0 -377px
}

.tLogoSmall.BUL {
    background-position: 0 -406px
}

.tLogoSmall.BUR {
    background-position: 0 -435px
}

.tLogoSmall.BWA {
    background-position: 0 -464px
}

.tLogoSmall.BRA {
    background-position: 0 -493px
}

.tLogoSmall.CAM {
    background-position: 0 -522px
}

.tLogoSmall.CAN, .tLogoSmall.Canada {
    background-position: 0 -551px
}

.tLogoSmall.CAY {
    background-position: 0 -580px
}

.tLogoSmall.CHL {
    background-position: 0 -609px
}

.tLogoSmall.CHN {
    background-position: 0 -638px
}

.tLogoSmall.CMB {
    background-position: 0 -667px
}

.tLogoSmall.COK {
    background-position: 0 -696px
}

.tLogoSmall.COL {
    background-position: 0 -725px
}

.tLogoSmall.CRO {
    background-position: 0 -754px
}

.tLogoSmall.CTR {
    background-position: 0 -783px
}

.tLogoSmall.CZE {
    background-position: 0 -812px
}

.tLogoSmall.DEN {
    background-position: 0 -841px
}

.tLogoSmall.ENG, .tLogoSmall.England, .tLogoSmall.Angleterre {
    background-position: 0 -870px
}

.tLogoSmall.ESP, .tLogoSmall.Spain, .tLogoSmall.Espagne {
    background-position: 0 -899px
}

.tLogoSmall.FIN {
    background-position: 0 -928px
}

.tLogoSmall.FJI, .tLogoSmall.FIJ, .tLogoSmall.Fiji, .tLogoSmall.Fidji {
    background-position: 0 -957px
}

.tLogoSmall.FRA, .tLogoSmall.France {
    background-position: 0 -986px
}

.tLogoSmall.GEO, .tLogoSmall.Georgie {
    background-position: 0 -1015px
}

.tLogoSmall.GER {
    background-position: 0 -1044px
}

.tLogoSmall.GHA {
    background-position: 0 -1073px
}

.tLogoSmall.GUM {
    background-position: 0 -1102px
}

.tLogoSmall.GUY {
    background-position: 0 -1131px
}

.tLogoSmall.HEL {
    background-position: 0 -1160px
}

.tLogoSmall.HKG {
    background-position: 0 -1189px
}

.tLogoSmall.HUN {
    background-position: 0 -1218px
}

.tLogoSmall.IDO {
    background-position: 0 -1247px
}

.tLogoSmall.IND {
    background-position: 0 -1276px
}

.tLogoSmall.IRE, .tLogoSmall.Irlande {
    background-position: 0 -1305px
}

.tLogoSmall.IRI {
    background-position: 0 -1334px
}

.tLogoSmall.ISR {
    background-position: 0 -1363px
}

.tLogoSmall.ITA, .tLogoSmall.Italie {
    background-position: 0 -1392px
}

.tLogoSmall.CIV {
    background-position: 0 -1421px
}

.tLogoSmall.JAM {
    background-position: 0 -1450px
}

.tLogoSmall.JPN, .tLogoSmall.Japan, .tLogoSmall.Japon {
    background-position: 0 -1479px
}

.tLogoSmall.KAZ {
    background-position: 0 -1508px
}

.tLogoSmall.KEN, .tLogoSmall.Kenya {
    background-position: 0 -1537px
}

.tLogoSmall.KGZ {
    background-position: 0 -1566px
}

.tLogoSmall.KOR {
    background-position: 0 -1595px
}

.tLogoSmall.LAO {
    background-position: 0 -1624px
}

.tLogoSmall.LAT {
    background-position: 0 -1653px
}

.tLogoSmall.LCA {
    background-position: 0 -1682px
}

.tLogoSmall.LTU {
    background-position: 0 -1711px
}

.tLogoSmall.LUX {
    background-position: 0 -1740px
}

.tLogoSmall.MAD {
    background-position: 0 -1769px
}

.tLogoSmall.MAR {
    background-position: 0 -1798px
}

.tLogoSmall.MAS {
    background-position: 0 -1827px
}

.tLogoSmall.MDA {
    background-position: 0 -1856px
}

.tLogoSmall.MEX {
    background-position: 0 -1885px
}

.tLogoSmall.MLI {
    background-position: 0 -1914px
}

.tLogoSmall.MLT {
    background-position: 0 -1943px
}

.tLogoSmall.MOG {
    background-position: 0 -1972px
}

.tLogoSmall.MON {
    background-position: 0 -2001px
}

.tLogoSmall.MRT {
    background-position: 0 -2030px
}

.tLogoSmall.MUS {
    background-position: 0 -2059px
}

.tLogoSmall.NAM, .tLogoSmall.Namibie {
    background-position: 0 -2088px
}

.tLogoSmall.NED {
    background-position: 0 -2117px
}

.tLogoSmall.NGA {
    background-position: 0 -2146px
}

.tLogoSmall.NIU {
    background-position: 0 -2175px
}

.tLogoSmall.NOR {
    background-position: 0 -2204px
}

.tLogoSmall.NZL, .tLogoSmall.New.Zealand, .tLogoSmall.Nouvelle-Zelande {
    background-position: 0 -2233px
}

.tLogoSmall.PAK {
    background-position: 0 -2262px
}

.tLogoSmall.PAR {
    background-position: 0 -2291px
}

.tLogoSmall.PER {
    background-position: 0 -2320px
}

.tLogoSmall.PHP {
    background-position: 0 -2349px
}

.tLogoSmall.PNG {
    background-position: 0 -2378px
}

.tLogoSmall.POL {
    background-position: 0 -2407px
}

.tLogoSmall.POR, .tLogoSmall.Portugal {
    background-position: 0 -2436px
}

.tLogoSmall.PYF {
    background-position: 0 -2465px
}

.tLogoSmall.ROM, .tLogoSmall.Roumanie {
    background-position: 0 -2494px
}

.tLogoSmall.RSA, .tLogoSmall.South.Africa, .tLogoSmall.Afrique.du.Sud {
    background-position: 0 -2523px
}

.tLogoSmall.RUS, .tLogoSmall.Russia, .tLogoSmall.Russie {
    background-position: 0 -2552px
}

.tLogoSmall.RWA {
    background-position: 0 -2581px
}

.tLogoSmall.SAM, .tLogoSmall.Samoa {
    background-position: 0 -2610px
}

.tLogoSmall.SCO, .tLogoSmall.Scotland, .tLogoSmall.Ecosse {
    background-position: 0 -2639px
}

.tLogoSmall.SEN {
    background-position: 0 -2668px
}

.tLogoSmall.SIN {
    background-position: 0 -2697px
}

.tLogoSmall.SOL {
    background-position: 0 -2726px
}

.tLogoSmall.SRB {
    background-position: 0 -2755px
}

.tLogoSmall.SRI, .tLogoSmall.Sri.Lanka {
    background-position: 0 -2784px
}

.tLogoSmall.SUI {
    background-position: 0 -2813px
}

.tLogoSmall.SVN {
    background-position: 0 -2842px
}

.tLogoSmall.SWE {
    background-position: 0 -2871px
}

.tLogoSmall.SWZ {
    background-position: 0 -2900px
}

.tLogoSmall.TBD {
    background-position: 0 -2929px
}

.tLogoSmall.TGA, .tLogoSmall.Tonga {
    background-position: 0 -2958px
}

.tLogoSmall.THA {
    background-position: 0 -2987px
}

.tLogoSmall.TOG {
    background-position: 0 -3016px
}

.tLogoSmall.TPE {
    background-position: 0 -3045px
}

.tLogoSmall.TRI {
    background-position: 0 -3074px
}

.tLogoSmall.TUN {
    background-position: 0 -3103px
}

.tLogoSmall.TZA {
    background-position: 0 -3132px
}

.tLogoSmall.UAE {
    background-position: 0 -3161px
}

.tLogoSmall.UGA {
    background-position: 0 -3190px
}

.tLogoSmall.UKR {
    background-position: 0 -3219px
}

.tLogoSmall.URU, .tLogoSmall.Uruguay {
    background-position: 0 -3248px
}

.tLogoSmall.USA, .tLogoSmall.Etats-Unis {
    background-position: 0 -3277px
}

.tLogoSmall.UZB {
    background-position: 0 -3306px
}

.tLogoSmall.VAN {
    background-position: 0 -3335px
}

.tLogoSmall.VEN {
    background-position: 0 -3364px
}

.tLogoSmall.VGB {
    background-position: 0 -3393px
}

.tLogoSmall.WAL, .tLogoSmall.Wales, .tLogoSmall.Pays.de.Galles {
    background-position: 0 -3422px
}

.tLogoSmall.ZAM {
    background-position: 0 -3451px
}

.tLogoSmall.ZIM, .tLogoSmall.Zimbabwe {
    background-position: 0 -3480px
}

.tLogoSmall.SVG {
    background-position: 0 -3511px
}

.tLogo {
    width: 27px;
    height: 35px;
    float: left;
    margin-right: 10px;
    display: block;
    background-position: 0 0;
    background-image: url("sprites/tLogo.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .tLogo {
        background-image: url("sprites/tLogo@x2.png");
        background-size: 27px 4876px
    }
}

.tLogo.AND {
    background-position: 0 -40px
}

.tLogo.ARG, .tLogo.Argentine {
    background-position: 0 -80px
}

.tLogo.ARM {
    background-position: 0 -120px
}

.tLogo.ASA {
    background-position: 0 -160px
}

.tLogo.AUS, .tLogo.Australie {
    background-position: 0 -200px
}

.tLogo.AUT {
    background-position: 0 -240px
}

.tLogo.AZE {
    background-position: 0 -280px
}

.tLogo.BEL {
    background-position: 0 -320px
}

.tLogo.BER {
    background-position: 0 -360px
}

.tLogo.BHS {
    background-position: 0 -400px
}

.tLogo.BIH {
    background-position: 0 -440px
}

.tLogo.BRB {
    background-position: 0 -480px
}

.tLogo.BRU {
    background-position: 0 -520px
}

.tLogo.BUL {
    background-position: 0 -560px
}

.tLogo.BUR {
    background-position: 0 -600px
}

.tLogo.BWA {
    background-position: 0 -640px
}

.tLogo.BRA {
    background-position: 0 -680px
}

.tLogo.CAM {
    background-position: 0 -720px
}

.tLogo.CAN, .tLogo.Canada {
    background-position: 0 -760px
}

.tLogo.CAY {
    background-position: 0 -800px
}

.tLogo.CHL {
    background-position: 0 -840px
}

.tLogo.CHN {
    background-position: 0 -880px
}

.tLogo.CMB {
    background-position: 0 -920px
}

.tLogo.COK {
    background-position: 0 -960px
}

.tLogo.COL {
    background-position: 0 -1000px
}

.tLogo.CRO {
    background-position: 0 -1040px
}

.tLogo.CTR {
    background-position: 0 -1080px
}

.tLogo.CZE {
    background-position: 0 -1120px
}

.tLogo.DEN {
    background-position: 0 -1160px
}

.tLogo.ENG, .tLogo.Angleterre {
    background-position: 0 -1200px
}

.tLogo.ESP {
    background-position: 0 -1240px
}

.tLogo.FIN {
    background-position: 0 -1280px
}

.tLogo.FJI, .tLogo.FIJ, .tLogo.Fiji, .tLogo.Fidji {
    background-position: 0 -1320px
}

.tLogo.FRA, .tLogo.France {
    background-position: 0 -1360px
}

.tLogo.GEO, .tLogo.Georgie {
    background-position: 0 -1400px
}

.tLogo.GER {
    background-position: 0 -1440px
}

.tLogo.GHA {
    background-position: 0 -1480px
}

.tLogo.GUM {
    background-position: 0 -1520px
}

.tLogo.GUY {
    background-position: 0 -1560px
}

.tLogo.HEL {
    background-position: 0 -1600px
}

.tLogo.HKG {
    background-position: 0 -1640px
}

.tLogo.HUN {
    background-position: 0 -1680px
}

.tLogo.IDO {
    background-position: 0 -1720px
}

.tLogo.IND {
    background-position: 0 -1760px
}

.tLogo.IRE, .tLogo.Irlande {
    background-position: 0 -1800px
}

.tLogo.IRI {
    background-position: 0 -1840px
}

.tLogo.ISR {
    background-position: 0 -1880px
}

.tLogo.ITA, .tLogo.Italie {
    background-position: 0 -1920px
}

.tLogo.CIV {
    background-position: 0 -1960px
}

.tLogo.JAM {
    background-position: 0 -2000px
}

.tLogo.JPN, .tLogo.Japon {
    background-position: 0 -2040px
}

.tLogo.KAZ {
    background-position: 0 -2080px
}

.tLogo.KEN {
    background-position: 0 -2120px
}

.tLogo.KGZ {
    background-position: 0 -2160px
}

.tLogo.KOR {
    background-position: 0 -2200px
}

.tLogo.LAO {
    background-position: 0 -2240px
}

.tLogo.LAT {
    background-position: 0 -2280px
}

.tLogo.LCA {
    background-position: 0 -2320px
}

.tLogo.LTU {
    background-position: 0 -2360px
}

.tLogo.LUX {
    background-position: 0 -2400px
}

.tLogo.MAD {
    background-position: 0 -2440px
}

.tLogo.MAR {
    background-position: 0 -2480px
}

.tLogo.MAS {
    background-position: 0 -2520px
}

.tLogo.MDA {
    background-position: 0 -2560px
}

.tLogo.MEX {
    background-position: 0 -2600px
}

.tLogo.MLI {
    background-position: 0 -2640px
}

.tLogo.MLT {
    background-position: 0 -2680px
}

.tLogo.MOG {
    background-position: 0 -2720px
}

.tLogo.MON {
    background-position: 0 -2760px
}

.tLogo.MRT {
    background-position: 0 -2800px
}

.tLogo.MUS {
    background-position: 0 -2840px
}

.tLogo.NAM, .tLogo.Namibie {
    background-position: 0 -2880px
}

.tLogo.NED {
    background-position: 0 -2920px
}

.tLogo.NGA {
    background-position: 0 -2960px
}

.tLogo.NIU {
    background-position: 0 -3000px
}

.tLogo.NOR {
    background-position: 0 -3040px
}

.tLogo.NZL, .tLogo.Nouvelle-Zelande {
    background-position: 0 -3080px
}

.tLogo.PAK {
    background-position: 0 -3120px
}

.tLogo.PAR {
    background-position: 0 -3160px
}

.tLogo.PER {
    background-position: 0 -3200px
}

.tLogo.PHP {
    background-position: 0 -3240px
}

.tLogo.PNG {
    background-position: 0 -3280px
}

.tLogo.POL {
    background-position: 0 -3320px
}

.tLogo.POR, .tLogo.Portugal {
    background-position: 0 -3360px
}

.tLogo.PYF {
    background-position: 0 -3400px
}

.tLogo.ROM, .tLogo.Roumanie {
    background-position: 0 -3440px
}

.tLogo.RSA, .tLogo.Afrique.du.Sud {
    background-position: 0 -3480px
}

.tLogo.RUS, .tLogo.Russie {
    background-position: 0 -3520px
}

.tLogo.RWA {
    background-position: 0 -3560px
}

.tLogo.SAM, .tLogo.Samoa {
    background-position: 0 -3600px
}

.tLogo.SCO, .tLogo.Ecosse {
    background-position: 0 -3640px
}

.tLogo.SEN {
    background-position: 0 -3680px
}

.tLogo.SIN {
    background-position: 0 -3720px
}

.tLogo.SOL {
    background-position: 0 -3760px
}

.tLogo.SRB {
    background-position: 0 -3800px
}

.tLogo.SRI {
    background-position: 0 -3840px
}

.tLogo.SUI {
    background-position: 0 -3880px
}

.tLogo.SVN {
    background-position: 0 -3920px
}

.tLogo.SWE {
    background-position: 0 -3960px
}

.tLogo.SWZ {
    background-position: 0 -4000px
}

.tLogo.TBD {
    background-position: 0 -4040px
}

.tLogo.TGA, .tLogo.Tonga {
    background-position: 0 -4080px
}

.tLogo.THA {
    background-position: 0 -4120px
}

.tLogo.TOG {
    background-position: 0 -4160px
}

.tLogo.TPE {
    background-position: 0 -4200px
}

.tLogo.TRI {
    background-position: 0 -4240px
}

.tLogo.TUN {
    background-position: 0 -4280px
}

.tLogo.TZA {
    background-position: 0 -4320px
}

.tLogo.UAE {
    background-position: 0 -4360px
}

.tLogo.UGA {
    background-position: 0 -4400px
}

.tLogo.UKR {
    background-position: 0 -4440px
}

.tLogo.URU, .tLogo.Uruguay {
    background-position: 0 -4480px
}

.tLogo.USA, .tLogo.Etats-Unis {
    background-position: 0 -4520px
}

.tLogo.UZB {
    background-position: 0 -4560px
}

.tLogo.VAN {
    background-position: 0 -4600px
}

.tLogo.VEN {
    background-position: 0 -4640px
}

.tLogo.VGB {
    background-position: 0 -4680px
}

.tLogo.WAL, .tLogo.Pays.de.Galles {
    background-position: 0 -4720px
}

.tLogo.ZAM {
    background-position: 0 -4760px
}

.tLogo.ZIM {
    background-position: 0 -4800px
}

.tLogo.SVG {
    background-position: 0 -4841px
}